.azeret-mono-normal> {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style:"normal"
  }

/* nav styles */
nav{
    text-align: center;
}
.nav-tittle{
     font-weight:800px;
     font-size: 48px;
     color:#0D1321 ;
}
.nav-sub-tittle{
    font-weight:300px;
    font-size: 16px;
    color:#0D1321 ;
}
.btn-praimary{
    background-color:#0D1321 ;
    font-weight:bold;
    color:white ;
    padding: 20px 21px;
    border-radius: 5px;

    

}
.banner{
    text-align: center;
    margin: 0px 131px;
    
}
/* header */
.bgimg{
    background-image: url('../styels/Hero-bg.png');
 background-size: auto;

}
.section-tittle{
   color: #0D1321; 
    font-size: 32px;
    font-style: 800px;
}
.section-description{
    font-size:16px ;
    font-style:400px ;
    color: #0D1321;
}
.inspiration{
    text-align: center;
    
}
.info{
    text-align: center;
    
}
.main section{
    margin-top: 130px;
}
/* info section styles */
.info-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    
    
}
.info{
    padding:40px ;
    border-radius:5px ;
    box-shadow: 0px 6px 50px 0px  rgba(0,0,0,0.6);
    
}

